/* style.css */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #77DD77;
    padding: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

section {
    text-align: center;
    padding: 50px;
}
/* Footer */
footer {
    background-color: #000000; /* Màu nâu */
    color: white; /* Chữ màu trắng để nổi bật */
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}